@import '../../styles/base';
.demolist-box{
  margin-top: 50px;
}
.demo-item{
  padding: 30px 0 30px 20px;
  border-radius: 10px;
  background-color: #e5e5e5;
  width: 100%;
  margin-top: 50px;
}
.demo-text{
  font-weight: 500;
}
