@import '../../styles/base';


.unit1{
  padding: 30rpx;
  border: 2rpx solid #f2f2f2;
  -webkit-border-radius: 10rpx;
  -moz-border-radius: 10rpx;
  border-radius: 10rpx;
  margin-bottom: 50rpx;
  background-color: #d87182;
  margin-top: 50rpx;
}
.test1{
  color: blue;
}
.test2{
  color: red;
}
